@media (min-width:1010px) {
    header{
        background-color: #FAF7F3;
        display: flex;
        align-items: center;
    }
    
    h1{
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        letter-spacing: 4px;
        margin-left: 40px;
    }
    #logo{
        margin-left: 20px;
        height: 120px;
        width: 120px;
    }


    body{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        background-image: url(./img/Diseño\ sin\ título.png);
    }

    #carouselExample{
        display: flex;
        align-content: center;
        justify-content: center;
        height: 600px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 40px;
    }

    h2{
        margin-top: 30px;
        padding-left: 30px;
        background-color: #FAF7F3;
    }
    article{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    .contenedorC{
        height: 359px;
        background-color: #FAF7F3;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
        display: flex;

    }
    .contenedorC:hover{
        transform: scale(1.05);
    }
    .cmp{
        display: block;
    }
    #TituloCarrusel{
        background-color: rgb(212, 132, 114);
        color: #f4f2ef;
        display: flex;
        justify-content: center;
        margin-bottom: 0%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #imagenes{
        height: 300px;
        width: 300px;
        margin-bottom: 10px;
    }
    footer{
        display: flexbox;
        margin-top: 10px;
        padding-top: 15px;
        background-color: #FAF7F3;
        align-content: center;
        text-align: center;
        padding-bottom: 15px;
    }
    #ig{
        height: 35px;
        width: 35px;
    }
}

@media (max-width:1009px) and (min-width:680px){
    header{
        background-color:  #fbe3e3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        margin-bottom: 20px;
    }
    #logo{
        height: 70px;
        width: 70px;
        margin-right: 10px;
    }
    h3{
        font-size: 25px;
    }

    main{
        background-color: #FAF7F3;
        background-size: 700px;
        font-family: "Poppins", sans-serif;
    }
    .contenedorC{
        height: 370px;
        width: 254px;
        border: 2px solid #285D72;
        text-align: center;
        background-color:  #f2ddd8;
        display: block;
    }
    .contenedorC:hover{
        transform: scale(1.05);
    }

    h2{
        background-color: #f2ddd8;
    }

    
    #carouselExample{
        display: flex;
        align-content: center;
        height: 300px;
        margin-left: 20%;
        margin-right: 20%;
    }
    #TituloCarrusel{
        background-color: rgb(255, 184, 184);
        color: #000000;
        display: block;
        justify-content: center;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 0%;
    }
    article{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 150px 150px 150px;
    }

    img{
        height: 250px;
        width: 250px;
    }

    footer{
        background-color: #fbe3e3;
        background-size: 100%;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        display: flexbox;
        align-content: center;
        text-align: center;
    }
    #ig{
        height: 30px; 
        width: 30px;
    }
}

@media (max-width: 679px) {
    header{
        display: flex;
        align-items: center;
        justify-content:center;
        background-color: #F9F6EE;
    }
    h1{
        margin-left: 30px;
        letter-spacing: 2px;
        text-align: center;
    }
    h2{
        margin-top: 40px;
        margin-bottom: 0;
        background-color: #002a61;
        color: rgb(255, 255, 255);
        
    }
    h3{
        color: white;
        background-color: black;
    }
    #logo{
        height: 70px;
        width: 70px;
    }
    .contenedorC{
        height: 410px;
        width: 284px;
        border: 2px solid #285D72;
        text-align: center;
        background-color:  #004AAD;
        margin-top: 50px;  
        margin-bottom: 50px;
        justify-content: space-around;
    }
    .contenedorC:hover{
        transform: scale(1.05);
    }

    article{
        display: inline-block;
    }
    img{
        height: 280px;
        width: 280px;
    }
    main{
        font-family: "Poppins", sans-serif;
        background-image: url(./img/Cookie22.png);
        background-size: 100%;
        justify-content:center;
    }

    footer{        
        background-color: #e9e6e0;
        background-size: 100%;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        display: flexbox;
        align-content: center;
        text-align: center;
        padding-bottom: 10px;
    }
    #ig{
        height: 30px; 
        width: 30px;
    }
}
